:root {
  /* --color-bg: #4801FF; */
  --color-bg: #e34234;
  --color-black: #000000;
  --color-white: #F2F2F2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
  color: var(--color-black);
  font-family: 'Arial Black', 'Helvetica Neue', Arial, sans-serif;
  overflow-x: hidden;
}
body.page-project {
  background: #F2F2F2;
  --color-black: #1e1e1e;
}